.footer__container {
	width: 100%;
	margin-top: 62px;
	background-color: #FEF5ED;

	img {
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.footer__container {

		.row {
			display: block;

			.col {
				box-sizing: border-box;

				.feedback-form__container {
					margin: 3rem 0 !important;

					.buttons__container {
						float: none !important;

						.submit__button {
							width: 100% !important;
						}
					}
				}
			}
		}
	}
}